<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>circles</title>
</head>
<body>
    <div>
    <h1>draw circles</h1>
    <div class="container">
        {%for i in range (number)%}
        <div class="circle" style="background-color: {{color}};"></div>
        {%endfor%}
    </div>
</div>
</body>
</html>