@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form action="/user/create" method="post">
        <div class="form-group">
            <label class="form-label" for="">Please give your name</label>
            <input class="form-control" type="text" name="name">
        </div>
        <button class="btn btn-outline-warning btn-lg m-3">Submiiiit</button>
    </form>
</div>
