*{
    margin: 0;
    padding: 0;
}
.topprofile{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding-left: 200px;
    color: white;
    align-items: center;
}
.button{
    background-color: aquamarine;
    margin: 15px;
}
.UserCard{
    height: 350px;
    width: 500px;
    border:3px grey solid;
    margin-top: 30px;
}
.top{
    height: 100px;
    width: 500px;
    background-color: #17A2B8;
}
#profile{
    height: 100px;
    width: 100px;
    margin-top: 35px;
    margin-left: 30px;
    border: 3px gray solid;
    border-radius: 50%;
}
.bot{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 500px;
    margin-top: 40px;
    margin-left: 40px;
    justify-content: space-between;
}
.local{
    display: flex;
}
#map{
    margin-top: 20px;
    margin-right: 20px;
    height: 25px;
    width: 15px;
}
#gear{
    height: 20px;
    width: 20px;
}
.LeftNav{
    margin-left: 200px;
}.education{
    background-color: black;
    color: aliceblue;
    height: 40px;
    width: 500px;

}
.educa{
    background-color: aliceblue;
    border: 3px gray solid;
    width: 500px;
    margin-top: 20px;
}
.Connec{
    width: 500px;
    height: 230px;
    background-color: aliceblue;
    border: 3px gray solid;
    margin-top: 60px;
    margin-left: 20px;
}
.MainContainer{
    display: flex;
}
.Connec img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.todd{
    display: flex;
    justify-content: space-around;


}
.phill{
    display: flex;
    justify-content: space-around;
}
.Connec h1{
    background-color: dimgrey;
    height: 50px;
    padding: 5px
}
#Todd{
    margin: 15px;
    margin-right: 200px;

}
#phill{
    margin: 10px;
    margin-right: 200px;
}