@model List<Chef>

    <h1 class="Text-center border-bottom border-primary m-5">Check out our roster of chefs</h1>
<table class="table table-success table-striped">
<thead>
<th>Name </th>
<th>Age </th>
<th>Number of Dishes</th>
</thead>
@{
    foreach(Chef chef in Model)
{
<tbody>
    <tr>
        <td>@chef.Firstname</td>
        <td>@chef.Lastname</td>
        <td>@chef.AllDishes.Count</td>
    </tr>
</tbody>
}
}
</table>