*{
    margin: 0;
    padding: 0;
}
.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(209, 207, 207);
    width :900px;
    margin-left: 200px;

}
#search{
    margin: 15px;
    padding: 5px;
    width: 250px;
    border: 1px black solid;
    height: 20px;
    border-radius: 15px;
}
#buttom{
    background-color: rgb(109, 109, 218);
    margin: 30px;
    width: 70px;
    height: 30px;
}
.ninja{
    display: flex;
    height: 200px;
    width: 480px;
    border: 3px black solid;
    margin-top: 30px;
    margin-left: 200px;
}
.nin{
    margin: 20px;
}
.pro{
    margin-top: 55px;
    margin-left: 20px;
}
.nin > *{
    margin: 10px;
}
.nin> button {
    background-color: yellow;
    height: 30px;
    width: 60px;
}
.rightnav{
    border: 3px black solid;
    height: 200px;
    width: 300px;
    margin: 50px;
    padding: 20px;
}
.butt{
    background-color: rgb(113, 202, 113);
    margin-top: 60px;
    margin-left: 45px;
    width: 200px;
    height: 50px;
}
.container{
    display: flex;
}