<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
@{    
    List<string> FoodList = new List<string>() {"Apple", "Pizza", "Cinnamon rolls", "Lasanga" , "Donuts" , "Chocolate Cake" , "Burritos"};            
    foreach(string word in FoodList)    
    {        
        <p>@word</p>    
    }
}
</body>
</html>