h1{
    display: flex;
    justify-content: center;
    color: red;
}
.flex{
    display: flex;
    justify-content: space-around;
}
a{
    color: blue;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.joy{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;

}
.Boy{
    display: flex;
    margin: 20px;
    gap: 50px;
}

.Hi{
    width: 400px;
    margin: auto;
border: 3px salmon solid;
    gap: 50px;
}

.form{
    text-align: center;
    width: 400px;
    margin: auto;
border: 3px rgb(114, 116, 250) solid;
}
.div{
    margin: 20px;
}
label{
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    font-size: larger;
}
input{
    background-color: #3CBC8D;
    color: white;
}

button{
    background-color: aqua;
    border: 1px black solid;
    box-shadow: 3px 1px 3px rgb(0, 0, 0) ;
    font-size: larger;
    font-family: fantasy;
    margin: 10px;
}
